<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles_cool.css') }}">

<head>
    <meta charset="UTF-8">

    <title>TrustworthinessFormIni</title>

</head>
<body>
    <div class="testbox">
      <form action="/personal_form">
            <div class="banner">
              <h1>Trustworthiness Annotations</h1>
            </div>
              <p align="center">Thank you very much for your cooperation!  <br>
                  This is an anonymous survey that would take <strong>no more than 10 minutes</strong> to complete.
                  We are a team of multinational researchers <strong> studying the effects of TRUST</strong>
                  during a brief intervention at zero acquaintance. <br>
                  It is important that you rate each person in the videos objectively - specifically,
                  <strong>HOW the information is expressed (the behaviour/action)</strong> , and not what is said (the content of the message).
                  <br> <strong>IMPORTANT!: FILL IN JUST ONE FORM, DON'T USE THE LINK AGAIN FOR SENDING NEW ANSWERS :)</strong>

                  <br> Let's start!

              </p>


           <div class="btn-block">
               <!-- <input type="submit" value="Continue >"> -->
            <button type="submit"> Continue >> </button>
          </div>
          <p class="footnote"> * If you click on the "Continue" button, you will move to the survey. Please, once you start the survey, complete it since data will not be saved if you don't press on the submit button. Thanks! :) </p>

      </form>
    </div>





</body>
</html>