<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles_cool.css') }}">

<head>
    <meta charset="UTF-8">
    <title>TrustworthinessFormEnd</title>


</head>




<body>


<div class="testbox">
      <form>
            <div class="banner">
              <h1>Thank you! :)</h1>
            </div>
              <p align="center">Thank you for your contribution! We have collected your answers :)
                    Now, you can close this window.<br>
                  <strong>Please remember NOT to fill in a new form :)</strong>
                                  <br>
                                  Thank you!
                                  </p>



      </form>
    </div>
</body>
</html>