<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles_cool.css') }}">

<head>
    <meta charset="UTF-8">

    <title>TrustworthinessFormIni</title>

</head>
<body>
    <div class="testbox">
      <form action="/personal_form">
            <div class="banner">
              <h1>Trustworthiness Annotations</h1>
            </div>
              <p>{{description}}</p>


           <div class="btn-block">
               <!-- <input type="submit" value="Continue >"> -->
            <button type="submit"> Continue >> </button>
          </div>
          <p class="footnote"> * If you click on the "Continue" button, you will move to the survey. Please, once you start the survey, complete it since data will not be saved if you don't press on the submit button. Thanks! :) </p>

      </form>
    </div>





</body>
</html>