<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color: red;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Hola</title>
    <div>
        <h1>Hola</h1>
        <p>This site has been visited {{ count }} times.</p>

    </div>


    <form action="/end">


        <iframe width="420" height="315" src="https://www.youtube.com/embed/_bg0TrqHcBs?start=16&end=20"></iframe>

          <p>Asses the <b>physical attractiveness</b> of the person in the video</p>

             <input type="radio" id="-3" name="AttractivenessQ" value="-3" required>
              <label for="-3">-3 (Nothing)</label><br>

              <input type="radio" id="-2" name="AttractivenessQ" value="-2">
              <label for="-2">-2</label><br>

             <input type="radio" id="-1" name="AttractivenessQ" value="-1">
              <label for="-1">-1</label><br>

              <input type="radio" id="0" name="AttractivenessQ" value="0">
              <label for="0">0</label><br>

              <input type="radio" id="1" name="AttractivenessQ" value="1">
              <label for="1">1</label><br>

              <input type="radio" id="2" name="AttractivenessQ" value="2">
              <label for="2">2</label><br>

              <input type="radio" id="3" name="AttractivenessQ" value="3">
              <label for="3">3 (A lot)</label><br>





          <input type="submit" value="Submit">
    </form>



</head>
<body>

</body>
</html>